*, *::before, *::after {
    box-sizing: border-box;
    
}
:root {
    --background-color: #1a1625;
    --light-background-color: #2f2b3a;
    --primary-text: #e0e0e0;
    --secondary-text: #b0b0b0;
    --primary-accent: #a688fa;
    --secondary-accent: #03dac6;
  
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    background-color: var(--background-color);
    min-height: 100vh;
    margin-bottom: 5rem;
}
p{
    margin: 0;
    padding: 0;
    color: var(--primary-text);
}
h1 {
    color: var(--primary-accent);
    font-size: 2.25rem;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
}
h2 {
    color: var(--primary-accent);
    text-align: center;
    font-size: 2rem;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--background-color) ;
  
   
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
 nav ul{
    display: flex;    
    cursor: pointer;
    list-style-type: none;
}
 nav ul li {
    display: inline-block;
    margin: 10px 20px;

}

nav ul li a {

    color: var(--primary-text);

    position: relative;
    text-decoration: none;
}

nav ul li a::before{

    position: absolute;
    content: "";
    width: 0;
    background-color: var(--secondary-accent);
    bottom: -5px;
    height: 2px;
    transition: .5s ease-in-out;
}

nav ul li:hover a::before {

    width: 50%;

}

.menu-bar {

    display: none;
}
header .menu-bar .bar {
    width: 30px;
    height: 3px;
    margin: 3px;
   
    background-color: white;
    transition: all 0.3s ease-in-out;
}
main {
    margin-top: 3rem;
}
.main-container {
    display: flex;
    flex-direction: column;
    gap:4rem;
}
.data-time-section{
    font-size: 1.2rem;
}
.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}
.data-time-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}


.about-profile-section{
    display: flex;
    gap: 8rem;
}
.about-container {
  flex: 1;
  display: flex;
  flex-direction: column;
   margin-top: 10rem; 
  gap: 1rem;
}
.intro-container {
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.intro-container p:nth-child(1) {
    color: var(--secondary-accent);
}
.intro-container p:nth-child(2) {
    color: var(--primary-accent);
    font-weight: bold;
    font-size: 2.25rem;
}
.intro-container p:nth-child(3) {
    font-size: 1.25rem;
    font-weight: 500;
}
.about-text {
    line-height: 1.7;
    color: var(--primary-text);
}
.profile-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;  
}
.slack-details {
    font-size: 1.125rem;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.img-container{
    
}
img{
    width: 100%;
}

.tech-goals-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    line-height: 1.7;
    font-size: 1rem;
}

.useful-links {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 1rem;
}
.useful-links li {
    color: var(--secondary-accent);
    font-size: 1.125rem;
    list-style-type: circle;
}
.useful-links li a {
    color: var(--secondary-accent);
}
@media only screen and (max-width: 500px) {
    html {
        font-size: 14px;
    }
    nav ul {
        display: flex;
        position: fixed;
        left:-100%;
        top:70px;
        width: 100%;
        padding: 0 80% 0 80%;
        flex-direction: column;
        background-color: var(--light-background-color);
        padding: 2px 0px 2px 0px;
        transition: all ease-in-out .3s;
        margin: none;
        z-index: 2;
    }

    .menu-bar {

        display: inline-block;
        cursor: pointer;
    }

    header .menu.active {
        left: 0;
        z-index: 2;
    }
    header .menu li a {
        display: inline-block;
        cursor: pointer;
       
    }

    .menu-bar.active .bar:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
    }
    
    .menu-bar.active .bar:nth-child(2) {
        opacity: 0
    }
    
    .menu-bar.active .bar:nth-child(3) {
        transform: translateY(-6px) rotate(-45deg);
    }
    .about-container{
        margin-top: 1rem;
    }
    .main-container {
        display: flex;
        flex-direction: column;
        gap:3rem;
    }
    .about-profile-section {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
    .data-time-section {
        font-size: 1rem;
    }
    h2 {
        font-size: 1.4rem;
        
    }
    .intro-container p:nth-child(2) {
        font-size: 1.5rem ;
    }

}
@media only screen and (min-width: 500px) and (max-width: 766px){

    nav ul {
        display: flex;
        position: fixed;
        left:-100%;
        top:70px;
        width: 100%;
        padding: 0 80% 0 80%;
        flex-direction: column;
        background-color: var(--light-background-color);
        padding: 2px 0px 2px 0px;
        transition: all ease-in-out .3s;
        margin: none;
        z-index: 2;
    }

    .menu-bar {

        display: inline-block;
        cursor: pointer;
    }

    header .menu.active {
        left: 0;
        z-index: 2;
    }
    header .menu li a {
        display: inline-block;
        cursor: pointer;
       
    }

    .menu-bar.active .bar:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
    }
    
    .menu-bar.active .bar:nth-child(2) {
        opacity: 0
    }
    
    .menu-bar.active .bar:nth-child(3) {
        transform: translateY(-6px) rotate(-45deg);
    }
    .about-container{
        margin-top: 2rem;
    }
    .main-container {
        display: flex;
        flex-direction: column;
        gap:3rem;
    }
    .about-profile-section {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
    h2 {
        font-size: 1.7rem;
        
    }
    .intro-container p:nth-child(2) {
        font-size: 1.8rem ;
    }


}

@media only screen and (min-width: 766px) and (max-width: 1200px) {

    .main-container {
        gap: 2rem;
    }

    .about-profile-section{
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }
    .about-container{
        margin-top: 2em;
    }
    h2 {
        font-size: 1.8rem;
        
    }
    .intro-container p:nth-child(2) {
        font-size: 2rem ;
    }
}